# Ignore node_modules directory
node_modules/
postgres-data/

# Ignore build output
dist/
out/

# Ignore environment configuration files
.env

# Ignore IDE/editor specific files
.idea/
.vscode/
.vercel
